.DS_Store

notes/.ipynb_checkpoints/*
notes/submission.csv
notes/mlp.params
notes/mydict
x-file
x-files
data/FashionMNIST/*
data/kaggle_house_pred_test.csv
data/kaggle_house_pred_train.csv
data/cifar-10-batches-py/*
data/cifar-10-python.tar.gz
data/hotdog/*
data/hotdog.zip
data/banana-detection/*
data/banana-detection.zip
data/VOCtrainval_11-May-2012.tar
data/VOCdevkit/*
data/fra-eng.zip
data/fra-eng/*
data/wikitext-2-v1.zip
data/wikitext-2
data/snli_1.0.zip
data/snli_1.0/*
data/__MACOSX/*
data/bert.small.torch.zip
data/bert.small.torch/*
